@mixin mobile {
  @media (max-width: 1024px) {
    .header > .container > ul {
      display: none
    }
    @content;
  }

  @media (min-width: 1025px) {
    
  }
}

.burger-menu {
    display: none;
  }
  
  // Мобильное меню
  @include mobile {
    .burger-menu {
      display: block;
      
      z-index: 999;
  
      .burger-button {
        background: transparent;
        border: none;
        cursor: pointer;
        width: 30px;
        height: 24px;
        position: relative;
        transition: 0.4s;
  
        span {
          display: block;
          width: 100%;
          height: 3px;
          background: #000;
          margin: 5px 0;
          transition: 0.4s;
        }
  
        &:hover span {
          background: #ff3333;
        }
      }
  
      .menu {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        background-color: white;
        width: 33vw;
        height: 100%;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
  
        &.active {
          display: flex;
          transform: translateX(0);
          transition: transform 0.3s ease-in-out;
        }
  
        ul {
          display: flex;
          flex-direction: column;
          list-style: none;
          padding: 0;
          margin: 0;
  
          li {
            margin-bottom: 15px;
          }
  
          a {
            text-decoration: none;
            font-size: 18px;
            color: #333;
  
            &:hover {
              color: #ff3333;
            }
          }
        }
      }
    }
  }