@media (max-width: 1440px) {
    .footer {
        left: 7%;
    }
}

@media (max-width: 1024px) {
    .header > .container {
        width: 824px;
    }
    .searchInput {
        width: 380px;
    }
    .main-screen {
        width: 100%;
    }

    .sponsors > div {
        gap: 32px !important;
    }

    .containerContent {
        width: 1024px;
        margin-left: 0;
        margin-right: 0;
        align-items: center;
        .arrivalsCards {
            padding: 0px 22px;
            .itemCard {
                width: 230px;
                .imgCard {
                    width: 230px;
                    height: 240px;
                }
                .cardTitle {
                    font-size: 18px;
                }
            }
        }
        .section {
            width: 980px;
            margin: 0 auto;
        }
    }

    .dressStyle {
        .style {
            .casual {
                display: flex;
                position: relative;
                width: 354px;
                cursor: pointer;
                border-radius: 20px;
                img {
                    width: 354px;
                }
            }
            .formal {
                position: relative;
                width: 470px;
                cursor: pointer;
                img {
                    width: 470px;
                }
            }
        }
        .styleDown {
            .party {
                width: 470px;
                img {
                    width: 470px;
                }
            }
            .gym {
                width: 350px;
                img {
                    width: 350px;
                }
            }
        }
    }
    .recalls {
        padding: 0 10px;
        .recalls-card {
            width: 266px;
            height: 230px;
            padding: 32px 28px;
            border: 1px solid #cec9cb;
            border-radius: 20px;
        }
    }
    .footer {
        left: 14%;
        width: 728px;
        .emailInput {
            width: 600px;
            .emailText {
                font-size: 25px;
                line-height: 49px;
            }
            .valueEmail .wrapperEmail {
                width: 233px;
            }
        }
    }
}

@media (max-width: 768px) {
    .header > .container {
        width: 568px;
    }
    .header > .container > .logo {
        width: 120px;
    }
    .searchInput {
        width: 167px;
    }
    .wrapper-marketing {
        gap: 25px;
    }
    .marketing > h1 {
        font-size: 22px;
    }
    .marketing > p {
        font-size: 14px;
    }
    .wrapper-promo > .promoText {
        font-size: 16px;
        width: 325px;
    }
    .wrapper-promo > .promoTitle {
        font-size: 55px;
    }

    .sponsors {
        .versace {
            width: 92px;
        }
        .zara {
            width: 59px;
        }
        .gucci {
            width: 101px;
        }
        .prada {
            width: 126px;
        }
        .klein {
            width: 144px;
        }
    }
    .sponsors > div {
        gap: 42px !important;
    }

    .containerContent {
        width: 768px;
        margin-left: 0;
        margin-right: 0;
        align-items: center;
        .arrivalsCards {
            padding: 0px 22px;
            overflow: auto;
            .itemCard {
                width: 230px;
                .imgCard {
                    width: 230px;
                    height: 240px;
                }
                .cardTitle {
                    font-size: 18px;
                }
            }
        }
        .section {
            width: 381px;
            width: 724px;
            margin: 0 auto;
        }
    }
    .dressStyle .style .casual {
        display: flex;
        position: relative;
        width: 300px;
        cursor: pointer;
        border-radius: 20px;
        img {
            width: 100%;
        }
    }
    .dressStyle .style .formal {
        width: 406px;
        img {
            width: 100%;
        }
    }
    .dressStyle .styleDown .party {
        width: 406px;
        img {
            width: 100%;
        }
    }
    .dressStyle .styleDown .gym {
        width: 289px;
        img {
            width: 100%;
        }
    }
    .recalls > .carouselCards {
        overflow: auto;
    }
    .recallTitle {
        font-size: 32px;
    }
    .footer {
        left: 14%;
        width: 530px;
        .emailInput {
            width: 530px;
            .emailText {
                font-size: 14px;
                line-height: 48px;
            }
            .valueEmail .wrapperEmail {
                width: 186px;
            }
        }
    }
    .downFooter {
        .column {
            h3 {
                font-size: 14px;
            }
            a {
                font-size: 12px;
            }
        }
    }
}

@media (max-width: 425px) {
    .homePromo {
        justify-content: center;
    }
    .homePromo > .container {
        width: auto;
        margin-left: 0;
        margin-right: 0;
        p {
            font-size: 14px;
        }
        img {
            display: none;
        }
    }
    .header > .container {
        width: auto;
        margin-left: 0;
        margin-right: 0;
        .logo {
            width: 106px;
        }
        .burger-menu > .burger-button {
            width: 30px;
            height: 30px;
        }
        .searchInput {
            width: 90px;
            font-size: 9px;
            border: none;
            outline: none;
            height: 20px;
            border-radius: 62px;
            padding: 8px 16px 8px 0px;
            padding-left: 38px;
            background-color: #F0F0F0;
        }
        .imgInput {
            position: absolute;
            width: 17px;
            height: 17px;
            left: 14px;
            top: 28%;
            pointer-events: none;
        }
    }
    .wrapper-promo {
        padding: 32px 0 0 16px;
        .promoTitle {
            font-size: 41px;
            font-weight: 900;
            width: 375px;
            line-height: 0.95;
        }
        .promoText {
            text-align: left;
            width: 262px;
            font-size: 12px;
            color: #000000;
            opacity: 0.6;
            padding-top: 30px;
            padding-bottom: 30px;
        }
        .promoBtn {
            width: 391px;
        }
        .wrapper-marketing {
            width: 391px;
            gap: 17px;
            .marketing > h1 {
                font-size: 18px;
            }
            .marketing > p {
                font-size: 12px;
            }
        }
    }
    .sponsors {
        display: grid;
        gap: 0px;
        justify-content: center;
        text-align: center;
        @media (min-width: 375px) {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            align-items: center;
            justify-items: center;
        
            > :nth-child(1),
            > :nth-child(2),
            > :nth-child(3) {
              justify-self: center;
            }
        
            > :nth-child(4),
            > :nth-child(5) {
              grid-column: span 1; /* Занимает 2 колонки */
              justify-self: center;
              width: 110px;
            }
        }
    }
    .sponsors > div {
        padding-left: 36px;
        gap: 79px !important;
    }
    .main-screen {
        height: max-content;
        background-color: #F2F0F1;
        background-image: none !important;
    }
    .parallax-bg {
        background-image: none !important;
    }
    .bgMobile {
        display: block !important;
        width: 100%;
        height: auto;
    }
    .containerContent {
        width: 425px;
        .section {
            width: 381px;
            margin: 0 auto;
        }
    }
    .dressStyle .style {
        flex-direction: column;
        .casual {
            padding-bottom: 24px;
            width: 100%;
            img {
                height: 190px;
            }
        }
        .formal {
            width: 100%;
            img {
                height: 190px;
            }
        }
    }
    .styleDown {
        flex-direction: column;
        .party {
            width: 100% !important;
            padding-bottom: 24px;
            img {
                height: 190px;
            }
        }
        .gym {
            width: 100% !important;
            img {
                height: 190px;
            }
        }
    }
    .recallTitle {
        font-size: 26px !important;
    }
    .recalls .recalls-card {
        width: 233px;
        height: 189px;
        .recallCard .p-text {
            font-size: 15px;
        }
    }
    .footer {
        left: 14%;
        width: 310px;
        .emailInput {
            display: flex !important;
            flex-direction: column !important;
            width: 255px;
            padding: 19px 27px;
            .emailText {
                font-size: 19px;
                line-height: 25px;
                padding-bottom: 10px;
            }
            .valueEmail {
                width: 100%;
            }
            .valueEmail .wrapperEmail {
                width: 100%;
            }
            .emailBtn {
                font-size: 12px;
            }
        }
    }
    .downFooter {
        display: grid;
        position: relative;
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
        .column.n1 {
            grid-column: 1 / -1;
            position: relative;
            left: 35px;
            width: 310px;
            .footerText {
                font-size: 14px;
            }
            ul {
                justify-content: space-around;
                display: flex;
            }
        }
        .column {
            display: flex;
            position: relative;
            flex-direction: column;
            height: 177px;
            margin-bottom: 42px;
            left: 42px;
            width: 120px;
        }
    }
    .lower {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 375px) {
    .homePromo > .container {
        width: auto;
        margin-left: 0;
        margin-right: 0;
        p {
            font-size: 14px;
        }
        img {
            display: none;
        }
    }
    .header > .container {
        width: auto;
        margin-left: 0;
        margin-right: 0;
        .logo {
            width: 106px;
        }
        .burger-menu > .burger-button {
            width: 30px;
            height: 30px;
        }
        .searchInput {
            width: 90px;
            font-size: 9px;
            border: none;
            outline: none;
            height: 20px;
            border-radius: 62px;
            padding: 8px 16px 8px 0px;
            padding-left: 38px;
            background-color: #F0F0F0;
        }
        .imgInput {
            position: absolute;
            width: 17px;
            height: 17px;
            left: 14px;
            top: 28%;
            pointer-events: none;
        }
    }
    .wrapper-promo {
        padding: 32px 0 0 16px;
        .promoTitle {
            font-size: 41px;
            font-weight: 900;
            width: 375px;
            line-height: 0.95;
        }
        .promoText {
            text-align: left;
            width: 262px;
            font-size: 12px;
            color: #000000;
            opacity: 0.6;
            padding-top: 30px;
            padding-bottom: 30px;
        }
        .promoBtn {
            width: 342px;
        }
        .wrapper-marketing {
            width: 359px;
        }

        // .wrapper-marketing {
        //     /* flex-direction: column;
        //     gap: 12px; */
        //     display: grid;
        //     gap: 20px; /* Расстояние между элементами */
        //     justify-content: center; /* Выравнивание по горизонтали */
        //     align-items: center; /* Выравнивание по вертикали */

        //     display: grid;
        //     .one, .two {
        //         display: none;
        //     }
        // }
    }
    .sponsors {
        display: grid;
        gap: 0px;
        justify-content: center;
        text-align: center;
        @media (min-width: 375px) {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            align-items: center;
            justify-items: center;
        
            > :nth-child(1),
            > :nth-child(2),
            > :nth-child(3) {
              justify-self: center;
            }
        
            > :nth-child(4),
            > :nth-child(5) {
              grid-column: span 1; /* Занимает 2 колонки */
              justify-self: center;
              width: 110px;
            }
        }
    }
    .sponsors > div {
        padding-left: 36px;
        gap: 39px !important;
    }
    .main-screen {
        height: max-content;
        background-color: #F2F0F1;
        background-image: none !important;
    }
    .parallax-bg {
        background-image: none !important;
    }
    .bgMobile {
        display: block !important;
        width: 100%;
        height: auto;
    }
    .containerContent {
        width: 375px;
        .section {
            width: 331px;
            margin: 0 auto;
        }
    }
    .footer {
        left: 9%;
    }
}

.sponsors > div {
    display: flex;
    gap: 98px;
}

.wrapper-marketing {
    display: flex;
    gap: 30px;
    padding-top: 42px;
}

.searchMobile {
    display: none;
}

.bgMobile {
    display: none;
} 

.parallax-bg {
    background-image: url('img/mainGround.svg') ;
}

@media (max-width: 375px) {
    .wrapper-marketing {
        display: grid;
        gap: 20px;
        justify-content: center;
        width: 359px;
      
        @media (min-width: 375px) {
          grid-template-columns: repeat(2, 1fr); /* 2 колонки */
          grid-template-areas:
            "brand product"
            "brand customer";
      
          .marketing:nth-child(1) {
            grid-area: brand;
          }
      
          .marketing:nth-child(3) {
            grid-area: product;
          }
      
          .marketing--full,
          .marketing:nth-child(5) {
            grid-area: customer;
            grid-column: 1 / -1; /* Занимает всё пространство снизу */
            text-align: center;
            border-right: none;
          }
        }
      
      }
}

@media (max-width: 320px) {
    .homePromo > .container p {
        font-size: 11px;
    }
    .searchMobile {
        display: block;
    }
    .header {
        padding: 24px 5px;
    }
    .SearchWith {
        display: none !important;
    }
    .wrapper-promo > .promoTitle {
        font-size: 34px;
        width: 319px;
    }
    .wrapper-promo .promoBtn {
        width: 289px;
    }
    .wrapper-promo .wrapper-marketing {
        width: 320px;
    }
    .sponsors {
        display: grid;
        gap: 0px;
        justify-content: center;
        text-align: center;
        @media (min-width: 320px) {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            align-items: center;
            justify-items: center;
        
            > :nth-child(1),
            > :nth-child(2),
            > :nth-child(3) {
              justify-self: center;
            }
        
            > :nth-child(4),
            > :nth-child(5) {
              grid-column: span 1; /* Занимает 2 колонки */
              justify-self: center;
              width: 87px;
            }
        }
    }
    .sponsors {
        .versace {
            width: 75px;
        }
        .zara {
            width: 45px;
        }
        .gucci {
            width: 72px;
        }
        .prada {
            width: 82px;
        }
        .klein {
            width: 112px;
        }
    }
    .sponsors > div {
        gap: 59px !important;
    }
    .containerContent {
        width: 320px;
        .section {
            width: 275px;
            margin: 0 auto;
        }
    }
    .footer {
        left: 1%;
    }
    .column.n1 {
        left: 7px !important;
        width: 280px !important;
    }
    .column {
        left: 22px !important;
    }
    .lower > div > img {
        width: 60px;
    }
}